<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VaccineManagementDbConnectionString" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString2" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString3" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString4" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString5" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString6" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString7" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString8" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString9" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString10" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString11" connectionString="Data Source=DESKTOP-D9AQSGN;Initial Catalog=VaccineManagementDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString12" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString13" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString14" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString15" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString16" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString17" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString18" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString19" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString20" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString21" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString22" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString23" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString24" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString25" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString26" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString27" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString28" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString29" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString30" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString31" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString32" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString33" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString34" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString35" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString36" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString37" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString38" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString39" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString40" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString41" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString42" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString43" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString44" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString45" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString46" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString47" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString48" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString49" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString50" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString51" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString52" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString53" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString54" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString55" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString56" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString57" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString58" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString59" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString60" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString61" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString62" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString63" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString64" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString65" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString66" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString67" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString68" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString69" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString70" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString71" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString72" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString73" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString74" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString75" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString76" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString77" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString78" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString79" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString80" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString81" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString82" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString83" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString84" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString85" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString86" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString87" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString88" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString89" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="VaccineManagementDbConnectionString90" connectionString="Data Source=DESKTOP-HA09QBK;Initial Catalog=VaccineManagementDb;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>